MotorSport Vision is located in the city of Fawkham.
The population density of Ciudad Ayala is 1604.0.
Piotr Hallmann was born on August 25, 1987.
The official language of Israel is modern Hebrew.
Chinabank's location is the Philippines.
Gdynia city in Poland has time zone of UTC +2 .
The total area of the city of Detroit is 370.03 square kilometers.
GMA New Media is located in the GMA Network Center.
Gdynia, Poland follows the Central European Summer Time timezone.
Nie Haisheng was born in Hubei.
The leader of Gdynia, Poland is called the Mayor.
The Fellowship of the Ring belongs to the fantasy genre.
The population density of Israel is 387.63.
The Bedford Aerodrome has a runway named "08/26".
Bedford Aerodrome has served the Bedford Autodrome.
Grigory Neujmin's date of death was December 17, 1946.
One of the leaders of Israel is Reuven Rivlin.
One of the official languages of Israel Is Modern Standard Arabic.
Leni Robredo is the leader of the Philippines.
The University of Burgundy has 16,800 undergraduate students.
There are 27400 students at the University of Burgundy.
The currency of the German Empire is German Papiermark.
The Silmarillion is one of J.R.R. Tolkien's notable works.
Ciudad Ayala is a city.
The Israel's leader title is "Prime Minister".
The apoapsis of 1147 Stavropolis is 418476000000.0.
Nie Haisheng is from the People's Republic of China.
J. R. R. Tolkien was born on January 3, 1892.
Manila is part of Metro Manila.
The Hobbit is a book followed by Lord of the Rings.
The German Empire's currency is the South German gulden.
One of the leaders of Petah Tikva is Itzik Braverman.
La Crosse is a city in La Crosse County in the U.S. state of Wisconsin.
Liselotte Grschebina was a professional photographer.
Detroit is part of Michigan.
Ciudad Ayala is in the Pacific Standard Time Zone.
The literary genre of The Hobbit is juvenile fantasy.
The city of Detroit is in Wayne County, Michigan.
Liselotte Grschebina died in Petah Tikva.
The timezone in Gdynia, Poland is Central European Time.
Adrián Rivera Pérez is a leader in Morelos.
Buick is the successor of Pontiac.
The population in the Ciudad Ayala metropolitan area is 1777539.
The number of staff members at the University of Burgundy is 2900.
The Morelos total area is 4879 km².
The government type in the city of Ciudad Ayala is council-manager.
Ciudad Ayala falls into UTC offset -6 timezone.
Piotr Hallmann weighs 70.308 kilograms.
Nie Haisheng was born in Zaoyang.
Zaoyang city is a part of Hubei province.
1147 Stavropolis was discovered by Grigory Neujmin.
The Two Towers was followed by The Return of the King.
The full name of the country Israel is the State of Israel.
The total area of Mexico is 1,972,550 square kilometers.
The Pontiac Rageous assembly line is in Detroit.
The University of Burgundy is in France.
MotorSport Vision is located in the the city of Kent.
Grigory Neujmin was born on January 1, 1886.
The leader of Ciudad Ayala is Juan Nolasco.
GMA New Media's main product is online games.
The Bedford Aerodrome has an operating organization that is called the MotorSport Vision.
Liselotte Grschebina was born within the German Empire.
The leader title in Mexico is the President of the Senate.
Dijon's elevation is 245.0 above the sea level.
The asteroid 1147 Stavropolis was discovered on the 11th of June 1929.
GMA New Media, Inc. is a subsidiary of GMA Network.
Petah Tikva is a city in Israel.
The Arab citizens of Israel is an ethnic group in Israel.
AmeriGas has 8,500 employees.
Zaoyang is part of Xiangyang.
MotorSport Vision is based in the city of Longfield, Kent.
The Bedford Aerodrome is 83.2 meters above sea level.
The Two Towers is preceded by The Fellowship of the Ring.
The runway length at the Bedford Aerodrome is 1095.
The Fellowship of the Ring was published on July 29, 1954.
Ciudad Ayala is part of Morelos.
The founding date of the German Empire was the first of January 1871.
There are 9400 postgraduate students attending the University of Burgundy.
The operating income of Trane is $875,400,000.
La Crosse, Wisconsin is governed by a mayor.
The ICAO location identifier for Bedford Aerodrome is EGBF.
Karlsruhe's leader is Oberbürgermeister.
George Allen & Unwin published the Fellowship of the Ring.
The Pontiac brand became extinct on October 31, 2010.
The leader of Mexico is Roberto Gil Zuarth.
The University of Burgundy campus is located in Dijon.
The total area of Karlsruhe |is 173.46.
The runway surface of the Bedford Aerodrome is made of concrete.
The location of Bedford Aerodrome is Thurleigh.
The long name of France is the French Republic.
Liselotte Grschebina was born on May 2nd, 1908.
The periapsis of 1147 Stavropolis is 260855000000.
Karlsruhe has an elevation of 115 metres above sea level.
The postal code for Dijon is 21000.
The Pontiac Rageous is manufactured by Pontiac.
The ceremonial county of Thurleigh is Bedfordshire.
GMA Network is a public company.
Hypermarcas is managed by their CEO.
Petah Tikva means "opening of hope."
Ciudad Ayala has a leader called the Governator.
The Pontiac Rageous was a car with a coupe body style.
La Crosse Wisconsin is 204.0 meters above sea level.
The COSPAR ID of Shenzhou 10 is 2013-029A.
Ciudad Ayala is in the PDT time zone.
The parent company of Pontiac is General Motors.
Zaoyang time zone is UTC +8.
MotorSport Vision was founded in the year 2004.
One of the leaders of the state of Morelos is the Governor.
J. R. R. Tolkien wrote The Two Towers.
The number of doctoral students in the University of Burgundy is 1299.
The total area for Gdynia, Poland is 135.0 square km.
Liselotte Grschebina has Israeli nationality.
The Pontiac company manufactures automobiles.
The leader of Brazil's title is Vice President.
The leader title for Ciudad Ayala is City Manager.
The Pontiac Rageous was last produced in 1997.
George Allen and Unwin was the publisher of The Two Towers.
The number of employees at Hypermarcas is 10252.
The Pontiac Rageous was assembled in Michigan.
Piotr Hallmann's height is 175.26 cm.
Nie Haisheng was born on October 13, 1964.
The Fellowship of the Ring was followed by The Two Towers.
The Hobbit's genre is high fantasy.
The orbital period of the asteroid 1147 Stavropolis is 1249.6 days.
Cuernavaca is part of Morelos.
Liselotte Grschebina died on June 14, 1994.
The absolute magnitude of 1147 Stavropolis is 11.5.
A leader of Mexico is called the President of the Chamber of Deputies.
The location of Trane is Swords, Dublin.
The government type in France is unitary state.
Morelos is a state in the country or Mexico.
Thurleigh is located within the country of the United Kingdom.
Peter Ogden is the founder of MotorSport Vision.
Liselotte Grschebina did her studies at the School of Applied Arts in Stuttgart.
The area code for Thurleigh is 01234.
One ethnic group in the United States is Asian-American.
The Morelos UTC offset is minus six.
MotorSport Vision was founded by Peter Ogden.
The death place of Liselotte Grschebina is Israel.
Hypermarcas's main product is drugs.
Nie Haisheng took part in the Shenzhou 10 mission.
Trane is located in Ireland.
The University of Burgundy is located in the city of Dijon.
The long name for the Philippines is called the Republic of the Philippines.
The Hobbit was published by George Allen & Unwin.
Asian-American is one of the ethnic groups in the United States.
Michigan has a total area of 250493000000.0 square kilometers.
The location of Trane is in Ireland.
Thurleigh is in the country of United Kingdom.
Morelos is in time zone UTC−6.
Morelos is a state in Mexico.
Liselotte Grschebina died in Israel.
The national anthem of the German Empire was Die Wacht am Rhein.
The United States has a total population of 324,720,797.
Ciudad Ayala is 1147m above sea level.
The founding date of Gdynia in Poland was 1926-02-10 .
The postal code for the village of Thurleigh is MK44.
The leader of Morelos is Graco Ramírez.
Israel has a total area of 20,769 square kilometers.
Hypermarcas makes $1,800,000,000 a year.
The anthem of the German Empire is Das Lied der Deutschen.
The total area of the state of Michigan is 250493000000.0.
Liselotte Grschebina attended the school of Applied Arts in Stuttgart.
The language of Israel is Modern Hebrew.
Dijon is located in the country of France.
Asian-American is a United States ethnic grouping.
The founding date of Gdynia, Poland was on February 10, 1926.
Israel’s national language is Modern Hebrew.
The long name for the Philippines is the Republic of the Philippines.
The author of The Fellowship of the Ring is J.R.R. Tolkien.
The asteroid 1147 Stavropolis has a rotation period of 20378.5.
The Hobbit came before The Fellowship of the Ring.
The COSPAR ID of Shenzhou 6 was 2005-040A .
Karlsruhe is located in Germany.
Hypermarcas produces medicines.
An ethnic group in Israel is the Israeli Jews.
The Hobbit was published on September 21, 1937.
Dijon is in the country of France.
The population density of Mexico is 61.0.
The total population of Mexico is 119530753.
Nie Haisheng took part in the Shenzhou 6 mission.
The total area of Israel is 20769100000.0.
Graco Ramírez is a leading official of Morelos.
The United States of America is the foundation place of Pontiac.
The Government type of France is unitary state.
Hypermarcas earns yearly 1800000000.
One of the leaders of Gdynia, Poland is the Vice President.
Piotr Hallmann was born in Gdynia, Poland.
Morelos is a state of Mexico.
The postal codes of Karlsruhe range from 76131 to 76229.
In Israel, ethnic groups include Israeli Jews.
The anthem of the German Empire is Die Wacht am Rhein.
The Fellowship of the Ring was preceded by the Hobbit.
The location of Trane is in Swords, Dublin.
Hypermarcas’s revenue is 1800000000.
The birthplace of Grigory Neujmin was in Tbilisi.
The postal code of Karlsruhe is 76131-76229.
The national anthem of the German Empire was Das Lied der Deutschen.
The total area of Michigan is 250493000000.0.
The epoch of 1147 Stavropolis is 31 July 2016 (JD2457600.5).
The Fellowship of the Ring was written by J.R.R. Tolkien.
The total population of Mexico is 119,530,753.
The postal code for Thurleigh is MK44.
The full name of the Philippines is the Republic of the Philippines.
The state of Morelos is in Mexico.
The total population in the United States is 324720797.
Pontiac was founded in the United States.
Israel's language is Modern Hebrew.
The Hobbit was released on September 21, 1937.
Hypermarcas makes drugs.
The author of The Hobbit is J.R.R. Tolkien.
The elevation above the sea level for Ciudad Ayala is 1147.0.
Hypermarcas's revenue is $1,800,000,000.
The postal codes of Karlsruhe are 76131–76229.
The total population in Mexico is 119530753.
The leader of France's title is "President of the Senate."
The Mexican state of Morelos has a UTC offset of -6.
Liselotte Grschebina studied at the School of Applied Arts in Stuttgart.
The Pontiac Rageous went into production in 1997.
1147 Stavropolis epoch is 31 July 2016 (Julian Day 2457600.5).
Nie Haisheng was a crew member on Shenzhou 6.
Nie Haisheng worked as a fighter pilot.
Thurleigh is in the United Kingdom.
The German Empire's anthem is Die Wacht Am Rhein.
1147 Stavropolis has a rotation period of 20378.5.
Dijon is located in France.
The COSPAR ID of Shenzhou 6 is 2005-040A.
Gdynia, Poland, is governed by a vice president.
Detroit is a city in Michigan.
The total population of the United States is 324720797.
Ciudad Ayala's elevation above the sea level is 1147.0.
The total population of the United States is 324,720,797.
Hypermarcas produces pharmaceutical drugs.
Ciudad Ayala is a city in Mexico.
The birthplace of Grigory Neujmin was Tbilisi.
The Pontiac Rageous was first produced in 1997.
Ciudad Ayala is in the country of Mexico.
Grigory Neujmin was born in the city of Tbilisi.
The title of France's leader is "President of the Senate."
The founding date of Gdynia, a city in Poland is Feb 10th, 1926.
Nie Haisheng was part of the mission Shenzhou 10.
Nie Haisheng was part of Shenzhou 10 mission.
Ciudad Ayala is located in the country of Mexico.
Nie Haisheng is a fighter pilot.
Karlsruhe is in Germany.
Piotr Hallmann's birthplace was in Gdynia, Poland.
The rotation period of 1147 Stavropolis is 20378.5.
Mexico has a population density of 61.0.
One of the ethnic group that is found in Israel is the Israeli Jews.
France has a unitary state form of government.
Graco Ramírez is a leader in Morelos.
Detroit is a city in the state of Michigan.
The population of Mexico is 61 inhabitants per square kilometre.
George Allen and Unwin is the publisher of The Hobbit.
Liselotte Grschebina was born in Karlsruhe.
Trane is located in Swords, Dublin.
MotorSport Vision was founded by Jonathan Palmer.
J.R.R. Tolkien is the author of The Hobbit.
Shenzhou 6' COSPAR ID is 2005-040A.
The leader of Gdynia, Poland is called the Vice President.
Morelos is in the country of Mexico.
The company Trane is in Ireland.
The long name of the Philippines is the Republic of the Philippines.
